In this project, we'll work with data from the CIA World Factbook, a compendium of statistics about all of the countries on Earth. The Factbook contains demographic information like the following:
1. name — the name of the country.
2. area— the country's total area (both land and water).
3. area_land — the country's land area in square kilometers.
4. area_water — the country's waterarea in square kilometers.
5. population — the country's population.
6. population_growth— the country's population growth as a percentage.
7. birth_rate — the country's birth rate, or the number of births per year per 1,000 people.
8. death_rate — the country's death rate, or the number of death per year per 1,000 people.

In [1]:
%%capture
%load_ext sql
%sql sqlite:///factbook.db

'Connected: None@factbook.db'

In [2]:
%%sql
SELECT * FROM sqlite_master
 WHERE type='table';

Done.

[('table', 'sqlite_sequence', 'sqlite_sequence', 3, 'CREATE TABLE sqlite_sequence(name,seq)'),
 ('table', 'facts', 'facts', 47, 'CREATE TABLE "facts" ("id" INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, "code" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "area" integer, "a ... (4 characters truncated) ... land" integer, "area_water" integer, "population" integer, "population_growth" float, "birth_rate" float, "death_rate" float, "migration_rate" float)')]

In [3]:
%%sql
select *from facts limit 5

Done.

[(1, 'af', 'Afghanistan', 652230, 652230, 0, 32564342, 2.32, 38.57, 13.89, 1.51),
 (2, 'al', 'Albania', 28748, 27398, 1350, 3029278, 0.3, 12.92, 6.58, 3.3),
 (3, 'ag', 'Algeria', 2381741, 2381741, 0, 39542166, 1.84, 23.67, 4.31, 0.92),
 (4, 'an', 'Andorra', 468, 468, 0, 85580, 0.12, 8.13, 6.96, 0.0),
 (5, 'ao', 'Angola', 1246700, 1246700, 0, 19625353, 2.78, 38.78, 11.49, 0.46)]

In [4]:
%%sql
SELECT MIN(population), MAX(population),MIN(population_growth),MAX(population_growth) FROM facts

Done.

[(0, 7256490011, 0.0, 4.02)]

In [5]:
%%sql 
select name from facts where population =
(select MIN(population) from facts)

Done.

[('Antarctica',)]

In [6]:
%%sql 
select name from facts where population =
(select MAX(population) from facts)

Done.

[('World',)]

In [7]:
%%sql
SELECT MIN(population), MAX(population),MIN(population_growth),MAX(population_growth) FROM facts where population <> (select MIN(population) from facts) AND population <> (select MAX(population) from facts)

Done.

[(48, 1367485388, 0.0, 4.02)]

In [8]:
%%sql
select AVG(population), AVG(area) FROM facts WHERE population <> (select MIN(population) from facts) AND population <> (select MAX(population) from facts)

Done.

[(32377011.0125, 582949.8523206752)]

These are the list of countries where the Population is higher than the average population of a country in the world and area is lower than the average value. 
- *This could show us countries that are overcrowded, lower area and more people*
Let us look at this more deeply.
Let's observe the ratio between population and area.

In [9]:
%%sql
select name from facts where population > 
(select  AVG(population) from facts where name not in 
 ('Antarctica','World')) AND area < (select AVG(area) from facts 
                                     where name not in 
                                     (select name from facts where population =(select MIN(population) from facts)) )

Done.

[('Bangladesh',),
 ('Germany',),
 ('Iraq',),
 ('Italy',),
 ('Japan',),
 ('Korea, South',),
 ('Morocco',),
 ('Philippines',),
 ('Poland',),
 ('Spain',),
 ('Thailand',),
 ('Uganda',),
 ('United Kingdom',),
 ('Vietnam',)]

Let us verify if our table above is correct , 

The result above and the result below is the same. We can chose to do it completely dynamically but that would be extremely unreadble, but I have done it for a few fields so illustrate that it is possible.

In [10]:
%%sql
select name from facts where population>32377011.0125 and area <582949.8523206752

Done.

[('Bangladesh',),
 ('Germany',),
 ('Iraq',),
 ('Italy',),
 ('Japan',),
 ('Kenya',),
 ('Korea, South',),
 ('Morocco',),
 ('Philippines',),
 ('Poland',),
 ('Spain',),
 ('Thailand',),
 ('Uganda',),
 ('United Kingdom',),
 ('Vietnam',)]

Let's observe the ratio between population and area. Let us arrange it in descending order to have a look at the highest to lowest ratio. We see a few common countries between the 2 lists 

*From the earlier analysis we may have naturally assumed that Bangladesh would have been at the top of this list.
However, there are many countries around the world that have a population to area ratio that is higher than Bangldesh. The reason why these countries did not come up is because they have a population thats much less than average world population.*

In [11]:
%%sql
select name from facts order by (population/area) desc limit 25

Done.

[('Macau',),
 ('Monaco',),
 ('Singapore',),
 ('Hong Kong',),
 ('Gaza Strip',),
 ('Gibraltar',),
 ('Bahrain',),
 ('Maldives',),
 ('Malta',),
 ('Bermuda',),
 ('Sint Maarten',),
 ('Bangladesh',),
 ('Guernsey',),
 ('Jersey',),
 ('Barbados',),
 ('Mauritius',),
 ('Taiwan',),
 ('Aruba',),
 ('Lebanon',),
 ('Saint Martin',),
 ('San Marino',),
 ('Korea, South',),
 ('Rwanda',),
 ('West Bank',),
 ('Nauru',)]

In [12]:
%%sql
select name, population,population_growth from facts where population = (select MAX(population) from facts where name<>'World' )

Done.

[('China', 1367485388, 0.45)]

In [13]:
%%sql
select name, population_growth from facts where population_growth = (select MAX(population_growth) from facts)

Done.

[('South Sudan', 4.02)]

In [14]:
%%sql
select count(*) as 'Countires with above average growth rate' from facts where population_growth > (select AVG(population_growth) from facts)

Done.

[(101,)]

In [15]:
%%sql
select name from facts where population_growth > (select avg(population_growth) from facts ) order by population_growth desc limit 25

Done.

[('South Sudan',),
 ('Malawi',),
 ('Burundi',),
 ('Niger',),
 ('Uganda',),
 ('Qatar',),
 ('Burkina Faso',),
 ('Mali',),
 ('Cook Islands',),
 ('Iraq',),
 ('Ethiopia',),
 ('Zambia',),
 ('Western Sahara',),
 ('Gaza Strip',),
 ('Tanzania',),
 ('Angola',),
 ('Benin',),
 ('Togo',),
 ('Guinea',),
 ('Cameroon',),
 ('Madagascar',),
 ('United Arab Emirates',),
 ('Rwanda',),
 ('Equatorial Guinea',),
 ('Liberia',)]

In [16]:
%%sql
select name,MAX(cast(area_water as Float)/area_land) from facts

Done.

[('British Indian Ocean Territory', 905.6666666666666)]

British Indian Ocean Territory has the highest water:land ratio. 
Let us have a look the lowest water:land ratio, it obviously will not be one country, we know many countries are land locked with no access to water.

In [17]:
%%sql
select name,cast(area_water as Float)/area_land as land_ratio from facts where 
land_ratio =(select MIN(cast(area_water as Float)/area_land) from facts)

Done.

[('Afghanistan', 0.0),
 ('Algeria', 0.0),
 ('Andorra', 0.0),
 ('Angola', 0.0),
 ('Antigua and Barbuda', 0.0),
 ('Bahrain', 0.0),
 ('Barbados', 0.0),
 ('Bhutan', 0.0),
 ('Cabo Verde', 0.0),
 ('Central African Republic', 0.0),
 ('Comoros', 0.0),
 ('Dominica', 0.0),
 ('Equatorial Guinea', 0.0),
 ('Fiji', 0.0),
 ('Georgia', 0.0),
 ('Grenada', 0.0),
 ('Kiribati', 0.0),
 ('Kosovo', 0.0),
 ('Kuwait', 0.0),
 ('Lesotho', 0.0),
 ('Libya', 0.0),
 ('Liechtenstein', 0.0),
 ('Luxembourg', 0.0),
 ('Maldives', 0.0),
 ('Malta', 0.0),
 ('Marshall Islands', 0.0),
 ('Mauritania', 0.0),
 ('Micronesia, Federated States of', 0.0),
 ('Monaco', 0.0),
 ('Nauru', 0.0),
 ('Oman', 0.0),
 ('Palau', 0.0),
 ('Qatar', 0.0),
 ('Saint Kitts and Nevis', 0.0),
 ('Saint Vincent and the Grenadines', 0.0),
 ('San Marino', 0.0),
 ('Sao Tome and Principe', 0.0),
 ('Saudi Arabia', 0.0),
 ('Serbia', 0.0),
 ('Seychelles', 0.0),
 ('Timor-Leste', 0.0),
 ('Trinidad and Tobago', 0.0),
 ('Tuvalu', 0.0),
 ('United Arab Emirates', 0.0),
 ('Vanuatu', 0.0),
 ('Yemen', 0.0),
 ('Ashmore and Cartier Islands', 0.0),
 ('Christmas Island', 0.0),
 ('Cocos (Keeling) Islands', 0.0),
 ('Coral Sea Islands', 0.0),
 ('Heard Island and McDonald Islands', 0.0),
 ('Norfolk Island', 0.0),
 ('Macau', 0.0),
 ('Faroe Islands', 0.0),
 ('Clipperton Island', 0.0),
 ('Saint Pierre and Miquelon', 0.0),
 ('Wallis and Futuna', 0.0),
 ('Aruba', 0.0),
 ('Curacao', 0.0),
 ('Sint Maarten', 0.0),
 ('Cook Islands', 0.0),
 ('Niue', 0.0),
 ('Tokelau', 0.0),
 ('Bouvet Island', 0.0),
 ('Jan Mayen', 0.0),
 ('Svalbard', 0.0),
 ('Anguilla', 0.0),
 ('Bermuda', 0.0),
 ('British Virgin Islands', 0.0),
 ('Cayman Islands', 0.0),
 ('Falkland Islands (Islas Malvinas)', 0.0),
 ('Gibraltar', 0.0),
 ('Guernsey', 0.0),
 ('Jersey', 0.0),
 ('Isle of Man', 0.0),
 ('Montserrat', 0.0),
 ('Pitcairn Islands', 0.0),
 ('Saint Helena, Ascension, and Tristan da Cunha', 0.0),
 ('South Georgia and South Sandwich Islands', 0.0),
 ('Turks and Caicos Islands', 0.0),
 ('American Samoa', 0.0),
 ('Guam', 0.0),
 ('Navassa Island', 0.0),
 ('Northern Mariana Islands', 0.0),
 ('Wake Island', 0.0),
 ('Gaza Strip', 0.0),
 ('Paracel Islands', 0.0),
 ('Spratly Islands', 0.0),
 ('Western Sahara', 0.0)]

In [18]:
%%sql
select name, population,population_growth,population*(population_growth/100) as population_increase,population*(population_growth/100)+population as future_population from facts where name !='World' order by population_increase desc

Done.

[('India', 1251695584, 1.22, 15270686.124799998, 1266966270.1248),
 ('China', 1367485388, 0.45, 6153684.246, 1373639072.246),
 ('Nigeria', 181562056, 2.45, 4448270.372, 186010326.372),
 ('Pakistan', 199085847, 1.46, 2906653.3662, 201992500.3662),
 ('Ethiopia', 99465819, 2.89, 2874562.1691, 102340381.1691),
 ('Bangladesh', 168957745, 1.6, 2703323.92, 171661068.92),
 ('United States', 321368864, 0.78, 2506677.1392, 323875541.1392),
 ('Indonesia', 255993674, 0.92, 2355141.8008, 258348815.8008),
 ('Congo, Democratic Republic of the', 79375136, 2.45, 1944690.8320000002, 81319826.832),
 ('Philippines', 100998376, 1.61, 1626073.8536, 102624449.8536),
 ('Egypt', 88487396, 1.79, 1583924.3883999998, 90071320.3884),
 ('Brazil', 204259812, 0.77, 1572800.5524000002, 205832612.5524),
 ('Mexico', 121736809, 1.18, 1436494.3462, 123173303.3462),
 ('Tanzania', 51045882, 2.79, 1424180.1078, 52470062.1078),
 ('European Union', 513949445, 0.25, 1284873.6125, 515234318.6125),
 ('Uganda', 37101745, 3.24, 1202096.5380000002, 38303841.538),
 ('Iraq', 37056169, 2.93, 1085745.7517000001, 38141914.7517),
 ('Turkey', 79414269, 1.26, 1000619.7894, 80414888.7894),
 ('Iran', 81824270, 1.2, 981891.24, 82806161.24),
 ('Vietnam', 94348835, 0.97, 915183.6995, 95264018.6995),
 ('Kenya', 45925301, 1.93, 886358.3092999998, 46811659.3093),
 ('Afghanistan', 32564342, 2.32, 755492.7344, 33319834.7344),
 ('Algeria', 39542166, 1.84, 727575.8544, 40269741.8544),
 ('South Africa', 53675563, 1.33, 713884.9879000001, 54389447.987900004),
 ('Yemen', 26737317, 2.47, 660411.7299, 27397728.7299),
 ('Sudan', 36108853, 1.72, 621072.2716, 36729925.2716),
 ('Mozambique', 25303113, 2.45, 619926.2685, 25923039.2685),
 ('Cameroon', 23739218, 2.59, 614845.7461999999, 24354063.7462),
 ('Madagascar', 23812681, 2.58, 614367.1698, 24427048.1698),
 ('Malawi', 17964697, 3.32, 596427.9404, 18561124.9404),
 ('Niger', 18045729, 3.25, 586486.1925, 18632215.1925),
 ('Ghana', 26327649, 2.18, 573942.7482, 26901591.7482),
 ('Burkina Faso', 18931686, 3.03, 573630.0858, 19505316.0858),
 ('Burma', 56320206, 1.01, 568834.0806, 56889040.0806),
 ('Nepal', 31551305, 1.79, 564768.3595, 32116073.3595),
 ('Angola', 19625353, 2.78, 545584.8134, 20170937.8134),
 ('Mali', 16955536, 2.98, 505274.9728, 17460810.9728),
 ('Colombia', 46736728, 1.04, 486061.97119999997, 47222789.9712),
 ('South Sudan', 12042910, 4.02, 484124.9819999999, 12527034.982),
 ("Cote d'Ivoire", 23295302, 1.91, 444940.2682, 23740242.2682),
 ('Malaysia', 30513848, 1.44, 439399.4112, 30953247.4112),
 ('Zambia', 15066266, 2.88, 433908.4608, 15500174.4608),
 ('Spain', 48146134, 0.89, 428500.5926, 48574634.5926),
 ('Venezuela', 29275460, 1.39, 406928.894, 29682388.894),
 ('Saudi Arabia', 27752316, 1.46, 405183.8136, 28157499.8136),
 ('Argentina', 43431886, 0.93, 403916.5398, 43835802.5398),
 ('Burundi', 10742276, 3.28, 352346.6528, 11094622.6528),
 ('United Kingdom', 64088222, 0.54, 346076.3988, 64434298.3988),
 ('Senegal', 13975834, 2.45, 342407.933, 14318241.933),
 ('Morocco', 33322699, 1.0, 333226.99, 33655925.99),
 ('Rwanda', 12661733, 2.56, 324140.36480000004, 12985873.3648),
 ('Zimbabwe', 14229541, 2.21, 314472.8561, 14544013.8561),
 ('Guinea', 11780162, 2.63, 309818.2606, 12089980.2606),
 ('Peru', 30444999, 0.97, 295316.4903, 30740315.4903),
 ('Benin', 10448647, 2.78, 290472.38659999997, 10739119.3866),
 ('France', 66553766, 0.43, 286181.1938, 66839947.1938),
 ('Uzbekistan', 29199942, 0.93, 271559.46060000005, 29471501.4606),
 ('Guatemala', 14918999, 1.82, 271525.7818, 15190524.7818),
 ('Ukraine', 44429471, 0.6, 266576.826, 44696047.826),
 ('Canada', 35099836, 0.75, 263248.77, 35363084.77),
 ('Cambodia', 15708756, 1.58, 248198.34480000002, 15956954.3448),
 ('Australia', 22751014, 1.07, 243435.84980000003, 22994449.8498),
 ('Thailand', 67976405, 0.34, 231119.77700000003, 68207524.777),
 ('Chad', 11631456, 1.89, 219834.5184, 11851290.5184),
 ('Ecuador', 15868396, 1.35, 214223.34600000002, 16082619.346),
 ('Kazakhstan', 18157122, 1.14, 206991.19079999998, 18364113.1908),
 ('Togo', 7552318, 2.69, 203157.3542, 7755475.3542),
 ('Japan', 126919659, 0.16, 203071.45440000002, 127122730.4544),
 ('Somalia', 10616380, 1.83, 194279.75400000002, 10810659.754),
 ('Sri Lanka', 22053488, 0.84, 185249.29919999998, 22238737.2992),
 ('Bolivia', 10800882, 1.56, 168493.7592, 10969375.7592),
 ('Italy', 61855120, 0.27, 167008.82400000002, 62022128.824),
 ('United Arab Emirates', 5779760, 2.58, 149117.808, 5928877.808),
 ('Honduras', 8746673, 1.68, 146944.1064, 8893617.1064),
 ('Eritrea', 6527689, 2.25, 146873.0025, 6674562.0025),
 ('Chile', 17508260, 0.82, 143567.732, 17651827.732),
 ('Libya', 6411776, 2.23, 142982.6048, 6554758.6048),
 ('Tajikistan', 8191958, 1.71, 140082.4818, 8332040.4818),
 ('Sierra Leone', 5879098, 2.35, 138158.803, 6017256.803),
 ('Germany', 80854408, 0.17, 137452.49360000002, 80991860.4936),
 ('Korea, North', 24983205, 0.53, 132410.9865, 25115615.9865),
 ('Dominican Republic', 10478756, 1.23, 128888.6988, 10607644.6988),
 ('Israel', 8049314, 1.56, 125569.29840000001, 8174883.2984),
 ('Papua New Guinea', 6672429, 1.78, 118769.2362, 6791198.2362),
 ('Haiti', 10110019, 1.17, 118287.22229999998, 10228306.2223),
 ('Central African Republic', 5391539, 2.13, 114839.7807, 5506378.7807),
 ('Singapore', 5674472, 1.89, 107247.5208, 5781719.5208),
 ('Laos', 6911544, 1.55, 107128.932, 7018672.932),
 ('Liberia', 4195666, 2.47, 103632.9502, 4299298.9502),
 ('Tunisia', 11037225, 0.89, 98231.3025, 11135456.3025),
 ('Congo, Republic of the', 4755097, 2.0, 95101.94, 4850198.94),
 ('Azerbaijan', 9780780, 0.96, 93895.488, 9874675.488),
 ('Belgium', 11323973, 0.76, 86062.1948, 11410035.1948),
 ('Mauritania', 3596702, 2.23, 80206.4546, 3676908.4546),
 ('Paraguay', 6783272, 1.16, 78685.9552, 6861957.9552),
 ('Sweden', 9801616, 0.8, 78412.928, 9880028.928),
 ('Netherlands', 16947904, 0.41, 69486.40639999999, 17017390.4064),
 ('Korea, South', 49115196, 0.14, 68761.27440000001, 49183957.2744),
 ('Oman', 3286936, 2.07, 68039.57519999999, 3354975.5752),
 ('Qatar', 2194817, 3.07, 67380.8819, 2262197.8819),
 ('Jordan', 8117564, 0.83, 67375.7812, 8184939.7812),
 ('Romania', 21666350, 0.3, 64999.05, 21731349.05),
 ('Kyrgyzstan', 5664939, 1.11, 62880.8229, 5727819.8229),
 ('Ireland', 4892305, 1.25, 61153.8125, 4953458.8125),
 ('Turkmenistan', 5231422, 1.14, 59638.21079999999, 5291060.2108),
 ('Nicaragua', 5907881, 1.0, 59078.81, 5966959.81),
 ('Norway', 5207689, 1.13, 58846.8857, 5266535.8857),
 ('Costa Rica', 4814144, 1.22, 58732.5568, 4872876.5568),
 ('Switzerland', 8121830, 0.71, 57664.992999999995, 8179494.993),
 ('Russia', 142423773, 0.04, 56969.5092, 142480742.5092),
 ('West Bank', 2785366, 1.95, 54314.637, 2839680.637),
 ('Taiwan', 23415126, 0.23, 53854.7898, 23468980.7898),
 ('Lebanon', 6184701, 0.86, 53188.4286, 6237889.4286),
 ('Gaza Strip', 1869055, 2.81, 52520.4455, 1921575.4455),
 ('Panama', 3657024, 1.32, 48272.7168, 3705296.7168),
 ('Austria', 8665550, 0.55, 47660.525, 8713210.525),
 ('Kuwait', 2788534, 1.62, 45174.25080000001, 2833708.2508),
 ('Gambia, The', 1967709, 2.16, 42502.5144, 2010211.5144),
 ('Bulgaria', 7186893, 0.58, 41683.9794, 7228576.9794),
 ('Mongolia', 2992908, 1.31, 39207.0948, 3032115.0948),
 ('Moldova', 3546847, 1.03, 36532.5241, 3583379.5241),
 ('New Zealand', 4438393, 0.82, 36394.82259999999, 4474787.8226),
 ('Poland', 38562189, 0.09, 34705.9701, 38596894.9701),
 ('Serbia', 7176794, 0.46, 33013.2524, 7209807.2524),
 ('Guinea-Bissau', 1726170, 1.91, 32969.847, 1759139.847),
 ('Gabon', 1705336, 1.93, 32912.9848, 1738248.9848),
 ('Bahrain', 1346613, 2.41, 32453.3733, 1379066.3733),
 ('Lithuania', 2884433, 1.04, 29998.103199999998, 2914431.1032),
 ('Timor-Leste', 1231116, 2.42, 29793.0072, 1260909.0072),
 ('Syria', 17064854, 0.16, 27303.7664, 17092157.7664),
 ('Hong Kong', 7141106, 0.38, 27136.2028, 7168242.2028),
 ('Botswana', 2182719, 1.21, 26410.8999, 2209129.8999),
 ('Finland', 5476922, 0.4, 21907.688000000002, 5498829.688),
 ('Hungary', 9897541, 0.22, 21774.590200000002, 9919315.5902),
 ('Puerto Rico', 3598357, 0.6, 21590.142, 3619947.142),
 ('Latvia', 1986705, 1.06, 21059.073, 2007764.073),
 ('Jamaica', 2950210, 0.68, 20061.428, 2970271.428),
 ('Belarus', 9589689, 0.2, 19179.378, 9608868.378),
 ('Equatorial Guinea', 740743, 2.51, 18592.649299999997, 759335.6493),
 ('Djibouti', 828324, 2.2, 18223.128, 846547.128),
 ('Czech Republic', 10644842, 0.16, 17031.7472, 10661873.7472),
 ('Cyprus', 1189197, 1.43, 17005.5171, 1206202.5171),
 ('Cuba', 11031433, 0.15, 16547.1495, 11047980.1495),
 ('Western Sahara', 570866, 2.82, 16098.421199999999, 586964.4212),
 ('Swaziland', 1435613, 1.11, 15935.304300000002, 1451548.3043),
 ('El Salvador', 6141350, 0.25, 15353.375, 6156703.375),
 ('Comoros', 780971, 1.77, 13823.1867, 794794.1867),
 ('Namibia', 2212307, 0.59, 13052.6113, 2225359.6113),
 ('Solomon Islands', 622469, 2.02, 12573.8738, 635042.8738),
 ('Denmark', 5581503, 0.22, 12279.3066, 5593782.3066),
 ('Luxembourg', 570252, 2.13, 12146.3676, 582398.3676),
 ('Portugal', 10825309, 0.09, 9742.7781, 10835051.7781),
 ('Albania', 3029278, 0.3, 9087.834, 3038365.834),
 ('Uruguay', 3341893, 0.27, 9023.1111, 3350916.1111),
 ('Mauritius', 1339827, 0.64, 8574.8928, 1348401.8928),
 ('Bhutan', 741919, 1.11, 8235.3009, 750154.3009),
 ('Cabo Verde', 545993, 1.36, 7425.504800000001, 553418.5048),
 ('Brunei', 429646, 1.62, 6960.265200000001, 436606.2652),
 ('Estonia', 1265420, 0.55, 6959.81, 1272379.81),
 ('Belize', 347369, 1.87, 6495.800300000001, 353864.8003),
 ('Suriname', 579633, 1.08, 6260.0364, 585893.0364),
 ('Lesotho', 1947701, 0.32, 6232.6432, 1953933.6432),
 ('Fiji', 909389, 0.67, 6092.906300000001, 915481.9063),
 ('Croatia', 4464844, 0.13, 5804.2972, 4470648.2972),
 ('Vanuatu', 272264, 1.95, 5309.148, 277573.148),
 ('Slovenia', 1983412, 0.26, 5156.8712, 1988568.8712),
 ('Bosnia and Herzegovina', 3867055, 0.13, 5027.1714999999995, 3872082.1715),
 ('Macau', 592731, 0.8, 4741.848, 597472.848),
 ('Armenia', 3056382, 0.15, 4584.573, 3060966.573),
 ('Macedonia', 2096015, 0.2, 4192.03, 2100207.03),
 ('Iceland', 331918, 1.21, 4016.2077999999997, 335934.2078),
 ('Georgia', 4931226, 0.08, 3944.9808000000003, 4935170.9808),
 ('New Caledonia', 271615, 1.38, 3748.287, 275363.287),
 ('Sao Tome and Principe', 194006, 1.84, 3569.7104, 197575.7104),
 ('Bahamas, The', 324597, 0.85, 2759.0745, 327356.0745),
 ('Montenegro', 647073, 0.42, 2717.7066, 649790.7066),
 ('French Polynesia', 282703, 0.94, 2657.4081999999994, 285360.4082),
 ('Trinidad and Tobago', 1222363, 0.13, 1589.0719, 1223952.0719),
 ('Aruba', 112162, 1.33, 1491.7546000000002, 113653.7546),
 ('Malta', 413965, 0.31, 1283.2915, 415248.2915),
 ('Kiribati', 105711, 1.15, 1215.6765, 106926.6765),
 ('Marshall Islands', 72191, 1.66, 1198.3706, 73389.3706),
 ('Cayman Islands', 56092, 2.1, 1177.932, 57269.932),
 ('Turks and Caicos Islands', 50280, 2.3, 1156.44, 51436.44),
 ('Samoa', 197773, 0.58, 1147.0834, 198920.0834),
 ('Antigua and Barbuda', 92436, 1.24, 1146.2064, 93582.2064),
 ('Northern Mariana Islands', 52344, 2.18, 1141.0992, 53485.0992),
 ('Slovakia', 5445027, 0.02, 1089.0054, 5446116.0054),
 ('Greece', 10775643, 0.01, 1077.5643, 10776720.5643),
 ('Barbados', 290604, 0.31, 900.8724, 291504.8724),
 ('Guam', 161785, 0.54, 873.639, 162658.639),
 ('Jersey', 97294, 0.8, 778.352, 98072.352),
 ('British Virgin Islands', 33454, 2.32, 776.1328, 34230.1328),
 ('Seychelles', 92430, 0.83, 767.169, 93197.169),
 ('Isle of Man', 87545, 0.76, 665.342, 88210.342),
 ('Curacao', 148406, 0.43, 638.1458, 149044.1458),
 ('Virgin Islands', 103574, 0.59, 611.0866, 104185.0866),
 ('Sint Maarten', 39689, 1.51, 599.3039, 40288.3039),
 ('Saint Lucia', 163922, 0.34, 557.3348000000001, 164479.3348),
 ('Grenada', 110694, 0.48, 531.3312, 111225.3312),
 ('Micronesia, Federated States of', 105216, 0.46, 483.9936, 105699.9936),
 ('Saint Kitts and Nevis', 51936, 0.76, 394.7136, 52330.7136),
 ('Bermuda', 70196, 0.5, 350.98, 70546.98),
 ('Anguilla', 16418, 2.03, 333.2854, 16751.2854),
 ('Liechtenstein', 37624, 0.84, 316.04159999999996, 37940.0416),
 ('Maldives', 393253, 0.08, 314.6024, 393567.6024),
 ('Cook Islands', 9838, 2.95, 290.221, 10128.221),
 ('Saint Vincent and the Grenadines', 102627, 0.28, 287.35560000000004, 102914.3556),
 ('San Marino', 33020, 0.82, 270.76399999999995, 33290.764),
 ('Faroe Islands', 50196, 0.51, 255.99960000000002, 50451.9996),
 ('Guernsey', 66080, 0.34, 224.67200000000003, 66304.672),
 ('American Samoa', 54343, 0.3, 163.029, 54506.029),
 ('Dominica', 73607, 0.21, 154.57469999999998, 73761.5747),
 ('Guyana', 735222, 0.02, 147.0444, 735369.0444),
 ('Andorra', 85580, 0.12, 102.696, 85682.696),
 ('Tuvalu', 10869, 0.82, 89.12579999999998, 10958.1258),
 ('Palau', 21265, 0.38, 80.807, 21345.807),
 ('Gibraltar', 29258, 0.24, 70.2192, 29328.2192),
 ('Saint Pierre and Miquelon', 5657, 1.08, 61.095600000000005, 5718.0956),
 ('Nauru', 9540, 0.55, 52.470000000000006, 9592.47),
 ('Wallis and Futuna', 15613, 0.33, 51.5229, 15664.5229),
 ('Monaco', 30535, 0.12, 36.641999999999996, 30571.642),
 ('Tonga', 106501, 0.03, 31.9503, 106532.9503),
 ('Montserrat', 5241, 0.5, 26.205000000000002, 5267.205),
 ('Saint Helena, Ascension, and Tristan da Cunha', 7795, 0.24, 18.708, 7813.708),
 ('Christmas Island', 1530, 1.11, 16.983, 1546.983),
 ('Svalbard', 1872, 0.03, 0.5616, 1872.5616),
 ('Niue', 1190, 0.03, 0.357, 1190.357),
 ('Falkland Islands (Islas Malvinas)', 3361, 0.01, 0.3361, 3361.3361),
 ('Norfolk Island', 2210, 0.01, 0.221, 2210.221),
 ('Tokelau', 1337, 0.01, 0.1337, 1337.1337),
 ('Holy See (Vatican City)', 842, 0.0, 0.0, 842.0),
 ('Cocos (Keeling) Islands', 596, 0.0, 0.0, 596.0),
 ('Greenland', 57733, 0.0, 0.0, 57733.0),
 ('Pitcairn Islands', 48, 0.0, 0.0, 48.0),
 ('Kosovo', 1870981, None, None, None),
 ('Ashmore and Cartier Islands', None, None, None, None),
 ('Coral Sea Islands', None, None, None, None),
 ('Heard Island and McDonald Islands', None, None, None, None),
 ('Clipperton Island', None, None, None, None),
 ('French Southern and Antarctic Lands', None, None, None, None),
 ('Saint Barthelemy', 7237, None, None, None),
 ('Saint Martin', 31754, None, None, None),
 ('Bouvet Island', None, None, None, None),
 ('Jan Mayen', None, None, None, None),
 ('Akrotiri', 15700, None, None, None),
 ('British Indian Ocean Territory', None, None, None, None),
 ('Dhekelia', 15700, None, None, None),
 ('South Georgia and South Sandwich Islands', None, None, None, None),
 ('Navassa Island', None, None, None, None),
 ('Wake Island', None, None, None, None),
 ('United States Pacific Island Wildlife Refuges', None, None, None, None),
 ('Antarctica', 0, None, None, None),
 ('Paracel Islands', None, None, None, None),
 ('Spratly Islands', None, None, None, None),
 ('Arctic Ocean', None, None, None, None),
 ('Atlantic Ocean', None, None, None, None),
 ('Indian Ocean', None, None, None, None),
 ('Pacific Ocean', None, None, None, None),
 ('Southern Ocean', None, None, None, None)]

Ordered the list by highest population increase based on the estimated population growth, now let us order the list by highest population in the future based on our estimate growth

In [19]:
%%sql
select name, population,population_growth,population*(population_growth/100) as population_increase,population*(population_growth/100)+population as future_population from facts where name !='World' order by future_population desc

Done.

[('China', 1367485388, 0.45, 6153684.246, 1373639072.246),
 ('India', 1251695584, 1.22, 15270686.124799998, 1266966270.1248),
 ('European Union', 513949445, 0.25, 1284873.6125, 515234318.6125),
 ('United States', 321368864, 0.78, 2506677.1392, 323875541.1392),
 ('Indonesia', 255993674, 0.92, 2355141.8008, 258348815.8008),
 ('Brazil', 204259812, 0.77, 1572800.5524000002, 205832612.5524),
 ('Pakistan', 199085847, 1.46, 2906653.3662, 201992500.3662),
 ('Nigeria', 181562056, 2.45, 4448270.372, 186010326.372),
 ('Bangladesh', 168957745, 1.6, 2703323.92, 171661068.92),
 ('Russia', 142423773, 0.04, 56969.5092, 142480742.5092),
 ('Japan', 126919659, 0.16, 203071.45440000002, 127122730.4544),
 ('Mexico', 121736809, 1.18, 1436494.3462, 123173303.3462),
 ('Philippines', 100998376, 1.61, 1626073.8536, 102624449.8536),
 ('Ethiopia', 99465819, 2.89, 2874562.1691, 102340381.1691),
 ('Vietnam', 94348835, 0.97, 915183.6995, 95264018.6995),
 ('Egypt', 88487396, 1.79, 1583924.3883999998, 90071320.3884),
 ('Iran', 81824270, 1.2, 981891.24, 82806161.24),
 ('Congo, Democratic Republic of the', 79375136, 2.45, 1944690.8320000002, 81319826.832),
 ('Germany', 80854408, 0.17, 137452.49360000002, 80991860.4936),
 ('Turkey', 79414269, 1.26, 1000619.7894, 80414888.7894),
 ('Thailand', 67976405, 0.34, 231119.77700000003, 68207524.777),
 ('France', 66553766, 0.43, 286181.1938, 66839947.1938),
 ('United Kingdom', 64088222, 0.54, 346076.3988, 64434298.3988),
 ('Italy', 61855120, 0.27, 167008.82400000002, 62022128.824),
 ('Burma', 56320206, 1.01, 568834.0806, 56889040.0806),
 ('South Africa', 53675563, 1.33, 713884.9879000001, 54389447.987900004),
 ('Tanzania', 51045882, 2.79, 1424180.1078, 52470062.1078),
 ('Korea, South', 49115196, 0.14, 68761.27440000001, 49183957.2744),
 ('Spain', 48146134, 0.89, 428500.5926, 48574634.5926),
 ('Colombia', 46736728, 1.04, 486061.97119999997, 47222789.9712),
 ('Kenya', 45925301, 1.93, 886358.3092999998, 46811659.3093),
 ('Ukraine', 44429471, 0.6, 266576.826, 44696047.826),
 ('Argentina', 43431886, 0.93, 403916.5398, 43835802.5398),
 ('Algeria', 39542166, 1.84, 727575.8544, 40269741.8544),
 ('Poland', 38562189, 0.09, 34705.9701, 38596894.9701),
 ('Uganda', 37101745, 3.24, 1202096.5380000002, 38303841.538),
 ('Iraq', 37056169, 2.93, 1085745.7517000001, 38141914.7517),
 ('Sudan', 36108853, 1.72, 621072.2716, 36729925.2716),
 ('Canada', 35099836, 0.75, 263248.77, 35363084.77),
 ('Morocco', 33322699, 1.0, 333226.99, 33655925.99),
 ('Afghanistan', 32564342, 2.32, 755492.7344, 33319834.7344),
 ('Nepal', 31551305, 1.79, 564768.3595, 32116073.3595),
 ('Malaysia', 30513848, 1.44, 439399.4112, 30953247.4112),
 ('Peru', 30444999, 0.97, 295316.4903, 30740315.4903),
 ('Venezuela', 29275460, 1.39, 406928.894, 29682388.894),
 ('Uzbekistan', 29199942, 0.93, 271559.46060000005, 29471501.4606),
 ('Saudi Arabia', 27752316, 1.46, 405183.8136, 28157499.8136),
 ('Yemen', 26737317, 2.47, 660411.7299, 27397728.7299),
 ('Ghana', 26327649, 2.18, 573942.7482, 26901591.7482),
 ('Mozambique', 25303113, 2.45, 619926.2685, 25923039.2685),
 ('Korea, North', 24983205, 0.53, 132410.9865, 25115615.9865),
 ('Madagascar', 23812681, 2.58, 614367.1698, 24427048.1698),
 ('Cameroon', 23739218, 2.59, 614845.7461999999, 24354063.7462),
 ("Cote d'Ivoire", 23295302, 1.91, 444940.2682, 23740242.2682),
 ('Taiwan', 23415126, 0.23, 53854.7898, 23468980.7898),
 ('Australia', 22751014, 1.07, 243435.84980000003, 22994449.8498),
 ('Sri Lanka', 22053488, 0.84, 185249.29919999998, 22238737.2992),
 ('Romania', 21666350, 0.3, 64999.05, 21731349.05),
 ('Angola', 19625353, 2.78, 545584.8134, 20170937.8134),
 ('Burkina Faso', 18931686, 3.03, 573630.0858, 19505316.0858),
 ('Niger', 18045729, 3.25, 586486.1925, 18632215.1925),
 ('Malawi', 17964697, 3.32, 596427.9404, 18561124.9404),
 ('Kazakhstan', 18157122, 1.14, 206991.19079999998, 18364113.1908),
 ('Chile', 17508260, 0.82, 143567.732, 17651827.732),
 ('Mali', 16955536, 2.98, 505274.9728, 17460810.9728),
 ('Syria', 17064854, 0.16, 27303.7664, 17092157.7664),
 ('Netherlands', 16947904, 0.41, 69486.40639999999, 17017390.4064),
 ('Ecuador', 15868396, 1.35, 214223.34600000002, 16082619.346),
 ('Cambodia', 15708756, 1.58, 248198.34480000002, 15956954.3448),
 ('Zambia', 15066266, 2.88, 433908.4608, 15500174.4608),
 ('Guatemala', 14918999, 1.82, 271525.7818, 15190524.7818),
 ('Zimbabwe', 14229541, 2.21, 314472.8561, 14544013.8561),
 ('Senegal', 13975834, 2.45, 342407.933, 14318241.933),
 ('Rwanda', 12661733, 2.56, 324140.36480000004, 12985873.3648),
 ('South Sudan', 12042910, 4.02, 484124.9819999999, 12527034.982),
 ('Guinea', 11780162, 2.63, 309818.2606, 12089980.2606),
 ('Chad', 11631456, 1.89, 219834.5184, 11851290.5184),
 ('Belgium', 11323973, 0.76, 86062.1948, 11410035.1948),
 ('Tunisia', 11037225, 0.89, 98231.3025, 11135456.3025),
 ('Burundi', 10742276, 3.28, 352346.6528, 11094622.6528),
 ('Cuba', 11031433, 0.15, 16547.1495, 11047980.1495),
 ('Bolivia', 10800882, 1.56, 168493.7592, 10969375.7592),
 ('Portugal', 10825309, 0.09, 9742.7781, 10835051.7781),
 ('Somalia', 10616380, 1.83, 194279.75400000002, 10810659.754),
 ('Greece', 10775643, 0.01, 1077.5643, 10776720.5643),
 ('Benin', 10448647, 2.78, 290472.38659999997, 10739119.3866),
 ('Czech Republic', 10644842, 0.16, 17031.7472, 10661873.7472),
 ('Dominican Republic', 10478756, 1.23, 128888.6988, 10607644.6988),
 ('Haiti', 10110019, 1.17, 118287.22229999998, 10228306.2223),
 ('Hungary', 9897541, 0.22, 21774.590200000002, 9919315.5902),
 ('Sweden', 9801616, 0.8, 78412.928, 9880028.928),
 ('Azerbaijan', 9780780, 0.96, 93895.488, 9874675.488),
 ('Belarus', 9589689, 0.2, 19179.378, 9608868.378),
 ('Honduras', 8746673, 1.68, 146944.1064, 8893617.1064),
 ('Austria', 8665550, 0.55, 47660.525, 8713210.525),
 ('Tajikistan', 8191958, 1.71, 140082.4818, 8332040.4818),
 ('Jordan', 8117564, 0.83, 67375.7812, 8184939.7812),
 ('Switzerland', 8121830, 0.71, 57664.992999999995, 8179494.993),
 ('Israel', 8049314, 1.56, 125569.29840000001, 8174883.2984),
 ('Togo', 7552318, 2.69, 203157.3542, 7755475.3542),
 ('Bulgaria', 7186893, 0.58, 41683.9794, 7228576.9794),
 ('Serbia', 7176794, 0.46, 33013.2524, 7209807.2524),
 ('Hong Kong', 7141106, 0.38, 27136.2028, 7168242.2028),
 ('Laos', 6911544, 1.55, 107128.932, 7018672.932),
 ('Paraguay', 6783272, 1.16, 78685.9552, 6861957.9552),
 ('Papua New Guinea', 6672429, 1.78, 118769.2362, 6791198.2362),
 ('Eritrea', 6527689, 2.25, 146873.0025, 6674562.0025),
 ('Libya', 6411776, 2.23, 142982.6048, 6554758.6048),
 ('Lebanon', 6184701, 0.86, 53188.4286, 6237889.4286),
 ('El Salvador', 6141350, 0.25, 15353.375, 6156703.375),
 ('Sierra Leone', 5879098, 2.35, 138158.803, 6017256.803),
 ('Nicaragua', 5907881, 1.0, 59078.81, 5966959.81),
 ('United Arab Emirates', 5779760, 2.58, 149117.808, 5928877.808),
 ('Singapore', 5674472, 1.89, 107247.5208, 5781719.5208),
 ('Kyrgyzstan', 5664939, 1.11, 62880.8229, 5727819.8229),
 ('Denmark', 5581503, 0.22, 12279.3066, 5593782.3066),
 ('Central African Republic', 5391539, 2.13, 114839.7807, 5506378.7807),
 ('Finland', 5476922, 0.4, 21907.688000000002, 5498829.688),
 ('Slovakia', 5445027, 0.02, 1089.0054, 5446116.0054),
 ('Turkmenistan', 5231422, 1.14, 59638.21079999999, 5291060.2108),
 ('Norway', 5207689, 1.13, 58846.8857, 5266535.8857),
 ('Ireland', 4892305, 1.25, 61153.8125, 4953458.8125),
 ('Georgia', 4931226, 0.08, 3944.9808000000003, 4935170.9808),
 ('Costa Rica', 4814144, 1.22, 58732.5568, 4872876.5568),
 ('Congo, Republic of the', 4755097, 2.0, 95101.94, 4850198.94),
 ('New Zealand', 4438393, 0.82, 36394.82259999999, 4474787.8226),
 ('Croatia', 4464844, 0.13, 5804.2972, 4470648.2972),
 ('Liberia', 4195666, 2.47, 103632.9502, 4299298.9502),
 ('Bosnia and Herzegovina', 3867055, 0.13, 5027.1714999999995, 3872082.1715),
 ('Panama', 3657024, 1.32, 48272.7168, 3705296.7168),
 ('Mauritania', 3596702, 2.23, 80206.4546, 3676908.4546),
 ('Puerto Rico', 3598357, 0.6, 21590.142, 3619947.142),
 ('Moldova', 3546847, 1.03, 36532.5241, 3583379.5241),
 ('Oman', 3286936, 2.07, 68039.57519999999, 3354975.5752),
 ('Uruguay', 3341893, 0.27, 9023.1111, 3350916.1111),
 ('Armenia', 3056382, 0.15, 4584.573, 3060966.573),
 ('Albania', 3029278, 0.3, 9087.834, 3038365.834),
 ('Mongolia', 2992908, 1.31, 39207.0948, 3032115.0948),
 ('Jamaica', 2950210, 0.68, 20061.428, 2970271.428),
 ('Lithuania', 2884433, 1.04, 29998.103199999998, 2914431.1032),
 ('West Bank', 2785366, 1.95, 54314.637, 2839680.637),
 ('Kuwait', 2788534, 1.62, 45174.25080000001, 2833708.2508),
 ('Qatar', 2194817, 3.07, 67380.8819, 2262197.8819),
 ('Namibia', 2212307, 0.59, 13052.6113, 2225359.6113),
 ('Botswana', 2182719, 1.21, 26410.8999, 2209129.8999),
 ('Macedonia', 2096015, 0.2, 4192.03, 2100207.03),
 ('Gambia, The', 1967709, 2.16, 42502.5144, 2010211.5144),
 ('Latvia', 1986705, 1.06, 21059.073, 2007764.073),
 ('Slovenia', 1983412, 0.26, 5156.8712, 1988568.8712),
 ('Lesotho', 1947701, 0.32, 6232.6432, 1953933.6432),
 ('Gaza Strip', 1869055, 2.81, 52520.4455, 1921575.4455),
 ('Guinea-Bissau', 1726170, 1.91, 32969.847, 1759139.847),
 ('Gabon', 1705336, 1.93, 32912.9848, 1738248.9848),
 ('Swaziland', 1435613, 1.11, 15935.304300000002, 1451548.3043),
 ('Bahrain', 1346613, 2.41, 32453.3733, 1379066.3733),
 ('Mauritius', 1339827, 0.64, 8574.8928, 1348401.8928),
 ('Estonia', 1265420, 0.55, 6959.81, 1272379.81),
 ('Timor-Leste', 1231116, 2.42, 29793.0072, 1260909.0072),
 ('Trinidad and Tobago', 1222363, 0.13, 1589.0719, 1223952.0719),
 ('Cyprus', 1189197, 1.43, 17005.5171, 1206202.5171),
 ('Fiji', 909389, 0.67, 6092.906300000001, 915481.9063),
 ('Djibouti', 828324, 2.2, 18223.128, 846547.128),
 ('Comoros', 780971, 1.77, 13823.1867, 794794.1867),
 ('Equatorial Guinea', 740743, 2.51, 18592.649299999997, 759335.6493),
 ('Bhutan', 741919, 1.11, 8235.3009, 750154.3009),
 ('Guyana', 735222, 0.02, 147.0444, 735369.0444),
 ('Montenegro', 647073, 0.42, 2717.7066, 649790.7066),
 ('Solomon Islands', 622469, 2.02, 12573.8738, 635042.8738),
 ('Macau', 592731, 0.8, 4741.848, 597472.848),
 ('Western Sahara', 570866, 2.82, 16098.421199999999, 586964.4212),
 ('Suriname', 579633, 1.08, 6260.0364, 585893.0364),
 ('Luxembourg', 570252, 2.13, 12146.3676, 582398.3676),
 ('Cabo Verde', 545993, 1.36, 7425.504800000001, 553418.5048),
 ('Brunei', 429646, 1.62, 6960.265200000001, 436606.2652),
 ('Malta', 413965, 0.31, 1283.2915, 415248.2915),
 ('Maldives', 393253, 0.08, 314.6024, 393567.6024),
 ('Belize', 347369, 1.87, 6495.800300000001, 353864.8003),
 ('Iceland', 331918, 1.21, 4016.2077999999997, 335934.2078),
 ('Bahamas, The', 324597, 0.85, 2759.0745, 327356.0745),
 ('Barbados', 290604, 0.31, 900.8724, 291504.8724),
 ('French Polynesia', 282703, 0.94, 2657.4081999999994, 285360.4082),
 ('Vanuatu', 272264, 1.95, 5309.148, 277573.148),
 ('New Caledonia', 271615, 1.38, 3748.287, 275363.287),
 ('Samoa', 197773, 0.58, 1147.0834, 198920.0834),
 ('Sao Tome and Principe', 194006, 1.84, 3569.7104, 197575.7104),
 ('Saint Lucia', 163922, 0.34, 557.3348000000001, 164479.3348),
 ('Guam', 161785, 0.54, 873.639, 162658.639),
 ('Curacao', 148406, 0.43, 638.1458, 149044.1458),
 ('Aruba', 112162, 1.33, 1491.7546000000002, 113653.7546),
 ('Grenada', 110694, 0.48, 531.3312, 111225.3312),
 ('Kiribati', 105711, 1.15, 1215.6765, 106926.6765),
 ('Tonga', 106501, 0.03, 31.9503, 106532.9503),
 ('Micronesia, Federated States of', 105216, 0.46, 483.9936, 105699.9936),
 ('Virgin Islands', 103574, 0.59, 611.0866, 104185.0866),
 ('Saint Vincent and the Grenadines', 102627, 0.28, 287.35560000000004, 102914.3556),
 ('Jersey', 97294, 0.8, 778.352, 98072.352),
 ('Antigua and Barbuda', 92436, 1.24, 1146.2064, 93582.2064),
 ('Seychelles', 92430, 0.83, 767.169, 93197.169),
 ('Isle of Man', 87545, 0.76, 665.342, 88210.342),
 ('Andorra', 85580, 0.12, 102.696, 85682.696),
 ('Dominica', 73607, 0.21, 154.57469999999998, 73761.5747),
 ('Marshall Islands', 72191, 1.66, 1198.3706, 73389.3706),
 ('Bermuda', 70196, 0.5, 350.98, 70546.98),
 ('Guernsey', 66080, 0.34, 224.67200000000003, 66304.672),
 ('Greenland', 57733, 0.0, 0.0, 57733.0),
 ('Cayman Islands', 56092, 2.1, 1177.932, 57269.932),
 ('American Samoa', 54343, 0.3, 163.029, 54506.029),
 ('Northern Mariana Islands', 52344, 2.18, 1141.0992, 53485.0992),
 ('Saint Kitts and Nevis', 51936, 0.76, 394.7136, 52330.7136),
 ('Turks and Caicos Islands', 50280, 2.3, 1156.44, 51436.44),
 ('Faroe Islands', 50196, 0.51, 255.99960000000002, 50451.9996),
 ('Sint Maarten', 39689, 1.51, 599.3039, 40288.3039),
 ('Liechtenstein', 37624, 0.84, 316.04159999999996, 37940.0416),
 ('British Virgin Islands', 33454, 2.32, 776.1328, 34230.1328),
 ('San Marino', 33020, 0.82, 270.76399999999995, 33290.764),
 ('Monaco', 30535, 0.12, 36.641999999999996, 30571.642),
 ('Gibraltar', 29258, 0.24, 70.2192, 29328.2192),
 ('Palau', 21265, 0.38, 80.807, 21345.807),
 ('Anguilla', 16418, 2.03, 333.2854, 16751.2854),
 ('Wallis and Futuna', 15613, 0.33, 51.5229, 15664.5229),
 ('Tuvalu', 10869, 0.82, 89.12579999999998, 10958.1258),
 ('Cook Islands', 9838, 2.95, 290.221, 10128.221),
 ('Nauru', 9540, 0.55, 52.470000000000006, 9592.47),
 ('Saint Helena, Ascension, and Tristan da Cunha', 7795, 0.24, 18.708, 7813.708),
 ('Saint Pierre and Miquelon', 5657, 1.08, 61.095600000000005, 5718.0956),
 ('Montserrat', 5241, 0.5, 26.205000000000002, 5267.205),
 ('Falkland Islands (Islas Malvinas)', 3361, 0.01, 0.3361, 3361.3361),
 ('Norfolk Island', 2210, 0.01, 0.221, 2210.221),
 ('Svalbard', 1872, 0.03, 0.5616, 1872.5616),
 ('Christmas Island', 1530, 1.11, 16.983, 1546.983),
 ('Tokelau', 1337, 0.01, 0.1337, 1337.1337),
 ('Niue', 1190, 0.03, 0.357, 1190.357),
 ('Holy See (Vatican City)', 842, 0.0, 0.0, 842.0),
 ('Cocos (Keeling) Islands', 596, 0.0, 0.0, 596.0),
 ('Pitcairn Islands', 48, 0.0, 0.0, 48.0),
 ('Kosovo', 1870981, None, None, None),
 ('Ashmore and Cartier Islands', None, None, None, None),
 ('Coral Sea Islands', None, None, None, None),
 ('Heard Island and McDonald Islands', None, None, None, None),
 ('Clipperton Island', None, None, None, None),
 ('French Southern and Antarctic Lands', None, None, None, None),
 ('Saint Barthelemy', 7237, None, None, None),
 ('Saint Martin', 31754, None, None, None),
 ('Bouvet Island', None, None, None, None),
 ('Jan Mayen', None, None, None, None),
 ('Akrotiri', 15700, None, None, None),
 ('British Indian Ocean Territory', None, None, None, None),
 ('Dhekelia', 15700, None, None, None),
 ('South Georgia and South Sandwich Islands', None, None, None, None),
 ('Navassa Island', None, None, None, None),
 ('Wake Island', None, None, None, None),
 ('United States Pacific Island Wildlife Refuges', None, None, None, None),
 ('Antarctica', 0, None, None, None),
 ('Paracel Islands', None, None, None, None),
 ('Spratly Islands', None, None, None, None),
 ('Arctic Ocean', None, None, None, None),
 ('Atlantic Ocean', None, None, None, None),
 ('Indian Ocean', None, None, None, None),
 ('Pacific Ocean', None, None, None, None),
 ('Southern Ocean', None, None, None, None)]

From the 2 lists, it is evident that India and China will top the list for a long time. An interesting thing to note about the **population increase** list is that many African countries and a few Asian countries will see a surge in population.

Let us look at this closesly by observing the birth rate

In [20]:
%%sql
select AVG(birth_rate) from facts where name not in ('World')

Done.

[(19.331762114537433,)]

In [21]:
%%sql
select COUNT(*) as 'Number of countires that have birth rate higher than the average' from facts where birth_rate > (select AVG(birth_rate) from facts where name not in ('World'))

Done.

[(89,)]

In [22]:
%%sql
select name, birth_rate from facts where birth_rate > (select AVG(birth_rate) from facts where name not in ('World')) order by birth_rate desc

Done.

[('Niger', 45.45),
 ('Mali', 44.99),
 ('Uganda', 43.79),
 ('Zambia', 42.13),
 ('Burkina Faso', 42.03),
 ('Burundi', 42.01),
 ('Malawi', 41.56),
 ('Somalia', 40.45),
 ('Angola', 38.78),
 ('Mozambique', 38.58),
 ('Afghanistan', 38.57),
 ('Nigeria', 37.64),
 ('Ethiopia', 37.27),
 ('Sierra Leone', 37.03),
 ('South Sudan', 36.91),
 ('Chad', 36.6),
 ('Tanzania', 36.39),
 ('Cameroon', 36.17),
 ('Benin', 36.02),
 ('Congo, Republic of the', 35.85),
 ('Guinea', 35.74),
 ('Central African Republic', 35.08),
 ('Congo, Democratic Republic of the', 34.88),
 ('Senegal', 34.52),
 ('Gabon', 34.49),
 ('Liberia', 34.41),
 ('Sao Tome and Principe', 34.23),
 ('Timor-Leste', 34.16),
 ('Togo', 34.13),
 ('Rwanda', 33.75),
 ('Guinea-Bissau', 33.38),
 ('Equatorial Guinea', 33.31),
 ('Madagascar', 32.61),
 ('Zimbabwe', 32.26),
 ('Iraq', 31.45),
 ('Mauritania', 31.34),
 ('Gaza Strip', 31.11),
 ('Ghana', 31.09),
 ('Gambia, The', 30.86),
 ('Western Sahara', 30.24),
 ('Eritrea', 30.0),
 ('Yemen', 29.98),
 ('Sudan', 29.19),
 ("Cote d'Ivoire", 28.67),
 ('Comoros', 27.84),
 ('Kenya', 26.4),
 ('Solomon Islands', 25.77),
 ('Marshall Islands', 25.6),
 ('Lesotho', 25.47),
 ('Jordan', 25.37),
 ('Vanuatu', 25.04),
 ('Nauru', 24.95),
 ('Guatemala', 24.89),
 ('Belize', 24.68),
 ('Swaziland', 24.67),
 ('Oman', 24.44),
 ('Papua New Guinea', 24.38),
 ('Tajikistan', 24.38),
 ('Philippines', 24.27),
 ('Laos', 24.25),
 ('Cambodia', 23.83),
 ('Tuvalu', 23.74),
 ('Algeria', 23.67),
 ('Djibouti', 23.65),
 ('Honduras', 23.14),
 ('Tonga', 23.0),
 ('West Bank', 22.99),
 ('Kyrgyzstan', 22.98),
 ('Egypt', 22.9),
 ('American Samoa', 22.89),
 ('Bolivia', 22.76),
 ('Pakistan', 22.58),
 ('Haiti', 22.31),
 ('Syria', 22.17),
 ('Kiribati', 21.46),
 ('Bangladesh', 21.14),
 ('Botswana', 20.96),
 ('Samoa', 20.87),
 ('South Africa', 20.75),
 ('Nepal', 20.64),
 ('Micronesia, Federated States of', 20.54),
 ('Cabo Verde', 20.33),
 ('Mongolia', 20.25),
 ('Kuwait', 19.91),
 ('Namibia', 19.8),
 ('Malaysia', 19.71),
 ('India', 19.55),
 ('Fiji', 19.43),
 ('Turkmenistan', 19.4)]

Majoirty of the countires are from Asia and Africa with a birth rate that is above average. We can expect a lot more Asian and African babies than babies from other continents. 

This asserts our above analysis about many Africans and a few Asian countries.

Let us look observe the Death rates

In [23]:
%%sql
select name,round(death_rate-birth_rate,2) from facts where round(death_rate-birth_rate,2) >=0 order by round(death_rate-birth_rate,2) desc

Done.

[('Bulgaria', 5.52),
 ('Serbia', 4.58),
 ('Latvia', 4.31),
 ('Lithuania', 4.17),
 ('Ukraine', 3.74),
 ('Hungary', 3.57),
 ('Germany', 2.95),
 ('Slovenia', 2.95),
 ('Romania', 2.76),
 ('Croatia', 2.73),
 ('Belarus', 2.66),
 ('Monaco', 2.59),
 ('Greece', 2.43),
 ('Saint Pierre and Miquelon', 2.3),
 ('Russia', 2.09),
 ('Estonia', 1.89),
 ('Portugal', 1.75),
 ('Japan', 1.58),
 ('Italy', 1.45),
 ('Bosnia and Herzegovina', 0.88),
 ('Czech Republic', 0.71),
 ('Moldova', 0.59),
 ('Poland', 0.45),
 ('Austria', 0.01),
 ('European Union', 0.0)]

Let us have a look at the list of countries with a higher death rate than birth rate, one thing stands out distinctively is that almost all of these countries are Europen and more specifically Eastern European. 
Perhaps this [study](https://globalriskinsights.com/2019/10/population-decline-in-central-and-eastern-europe/) ought to give us a better understanding.

# Conclusion 

1. African countries are going have an increase in populaion like no other continent
2. Eastern European countries have a negative birth rate(or positive death rate).
3. China and India are clear at the top in terms of population, and India has a higher population growth rate meaning there is a chance India can cross China in terms of population in the future.
4. Population/Area ratio list, asian countires are the majority.